<a href="https://colab.research.google.com/github/EvgenyBelov78/DA1/blob/main/ML_HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
SEED=555

In [78]:
from google.colab import drive

In [79]:
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [82]:
df=pd.read_csv('https://drive.google.com/file/d/1-_C1_F6exSwx0wZ8i_i555IaOlSraPo_/view?usp=sharing')

In [3]:
#df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [4]:
from pandas.io.formats.format import NA

In [5]:
dfc=df.copy()

In [6]:
df[df.Age.isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [8]:
df[(df.Name.str.find('Miss')>-1)&df.Age.isna()].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q

In [9]:
#медианный взраст по мисс
df[(df.Name.str.find('Miss')>-1)&df.Age>0]['Age'].median().round(0)

21.0

In [10]:
#медианный возраст по всем женщинам
df[df.Sex=='female']['Age'].median().round(0)

27.0

In [ ]:
#медианный возраст мисс в зависимости от класса
for i in range(1,4):
    for s in ['male','female']:
        print('Class - ',i, 'Sex',s,'=',df[(df.Name.str.find('Miss')>-1)&df.Age>0][(df.Pclass==i) & (df.Sex==s)]['Age'].median())

Class -  1 Sex male = nan
Class -  1 Sex female = 30.0
Class -  2 Sex male = nan
Class -  2 Sex female = 24.0
Class -  3 Sex male = nan
Class -  3 Sex female = 18.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
for i in range(1,4):
    for s in ['male','female']:
        print('Class - ',i, 'Sex',s,'=',df[(df.Pclass==i) & (df.Sex==s)]['Age'].median())

Class -  1 Sex male = 40.0
Class -  1 Sex female = 35.0
Class -  2 Sex male = 30.0
Class -  2 Sex female = 28.0
Class -  3 Sex male = 25.0
Class -  3 Sex female = 21.5

### #по Мисс меняем возраст для 1 класса на 30, для 2 - на 24, для 3 - на 18

In [12]:
df1=df[df.Age.isna()&(df.Name.str.find('Miss')>-1)&(df.Pclass==1)]#['PassengerId']
df2=df[df.Age.isna()&(df.Name.str.find('Miss')>-1)&(df.Pclass==2)]#['PassengerId']
df3=df[df.Age.isna()&(df.Name.str.find('Miss')>-1)&(df.Pclass==3)]#['PassengerId']

In [13]:
for i in df1.PassengerId:
 df.loc[df.PassengerId==i,'Age']=30

In [14]:
df[df.PassengerId==307]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
306,307,1,1,"Fleming, Miss. Margaret",female,30.0,0,0,17421,110.8833,NaN,C

In [15]:
for i in df2.PassengerId:
 df.loc[df.PassengerId==i,'Age']=24

In [16]:
for i in df3.PassengerId:
 df.loc[df.PassengerId==i,'Age']=18

In [17]:
df[df.Age.isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S

In [19]:
#меняем пропуски по возрастам на медианны значения в зависимости от класса и пола 
for i in range(1,4):
    for s in ['male','female']:
        df.loc[((df.Sex==s)&(df.Pclass==i)&(df.Age.isna())),'Age']=round(df[((df.Sex==s)&(df.Pclass==i))]['Age'].median(),0)

In [20]:
df[df.Age.isna()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [21]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

In [25]:
df.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace = True)

In [26]:
df.info

<bound method DataFrame.info of      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  18.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]>

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le = LabelEncoder()

In [33]:
df.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [34]:
df.Embarked=le.fit_transform(df['Embarked'])

In [36]:
df.Sex = le.fit_transform(df['Sex'])

In [37]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [38]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Age',axis=1),
                                                   df.Age,
                                                   test_size=0.3,
                                                   random_state=SEED
                                                   )

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
lr = LinearRegression()

In [41]:
lr.fit(X_train,y_train)

LinearRegression()

In [42]:
pred = lr.predict(X_test)

In [43]:
from sklearn.metrics import mean_absolute_error

In [44]:
print('Ошибка на тесте', mean_absolute_error(y_test, pred))

Ошибка на тесте 8.809114641357102

In [45]:
print('Ошибка на обучающей выборке', mean_absolute_error(y_train, lr.predict(X_train)))

Ошибка на обучающей выборке 8.554189484676058

#Но, т.к. манипуляции с целевой функцией проводить нельзя, то необходимо из обучающей выборки исключить строки, где значение целевой функции не определено

In [46]:
dfc.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
#копия на всякий случай
ddd=dfc

In [55]:
dfc.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         2
dtype: int64

In [57]:
dfc.dropna(subset=['Embarked'],inplace=True)

In [54]:
dfc.dropna(subset=['Age'],inplace=True)

In [58]:
dfc.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         0
dtype: int64

In [59]:
dfc.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace = True)

In [61]:
dfc.Sex = le.fit_transform(dfc['Sex'])

In [62]:
dfc.Embarked= le.fit_transform(dfc['Embarked'])

In [67]:
SEED2=12345

In [68]:
X_train, X_test, y_train, y_test = train_test_split(dfc.drop('Age',axis=1),
                                                   dfc.Age,
                                                   test_size=0.3,
                                                   random_state=SEED2
                                                   )

In [69]:
X_train.shape

(498, 7)

In [70]:
y_train.shape

(498,)

In [71]:
y_train.median()

28.0

In [72]:
y_test.median()

28.0

In [73]:
lr2 = LinearRegression()

In [74]:
lr2.fit(X_train,y_train)

LinearRegression()

In [75]:
pred = lr2.predict(X_test)

In [76]:
print('Ошибка на тесте', mean_absolute_error(y_test, pred))

Ошибка на тесте 9.835507180794197

In [77]:
print('Ошибка на обучающей выборке', mean_absolute_error(y_train, lr2.predict(X_train)))

Ошибка на обучающей выборке 9.875550914030418

#Ошибка выросла на год по сравнению с датасетом, где меняли пропуски по значениям целевой функции