### Задание
- Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
- Cохранить ее в pandas dataframe
- Cохранить pandas dataframe в excel
- Cохранить pandas dataframe в pickle
- Cохранить pandas dataframe в БД

In [6]:
import requests
import pandas as pd
import time

In [7]:
documents = []
url_doc_list = 'https://наш.дом.рф/сервисы/api/object/40239'
response = requests.get(url_doc_list)
documents = response.json()
documents = documents['data']

In [8]:
df = pd.json_normalize(documents)

In [9]:
df

,id,pdId,region,address,nameObj,floorMin,floorMax,objElemLivingCnt,objReady100PercDt,wallMaterialShortDesc,...,developer.orgForm.shortForm,developer.objGuarantyEscrowFlg,developer.govFundFlg,quartography.objLivElem1KCnt,quartography.objLivElem2KCnt,quartography.objLivElem3KCnt,quartography.objLivElem4KCnt,quartography.objLivElemCnt,quartography.objLivElemEntrCnt,quartography.objLivElemEntrFloorAvg
0,40239,460620,63,"г Самара, район Куйбышевский, шоссе Южное шосс...",Макрорайон Амград,11,25,911,2023-06-30,Монолит-кирпич,...,ООО,1,0,587,231,85,8,911,6,8

In [10]:
offset_ = 0
limit_ = 1000
params= {'region':'63'}
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
res = requests.get(url) #,params=params)
i=0

In [ ]:
res

In [11]:
objects_data = res.json()
objects_list = objects_data.get('data') #.get('list')

In [12]:
  df = pd.json_normalize(objects_list)
  dffull=df

In [13]:
df=df.drop(df.index)

In [14]:
df

Empty DataFrame
Columns: [list, total]
Index: []

In [15]:
dffull

                                                list  total
0  [{'objId': 13391, 'developer': {'devId': 306, ...  10746

In [8]:
i=0
while i<=20:
  url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
  res = requests.get(url) #,params=params)
  print(str(res))
  if str(res)!='<Response [200]>': break
  offset_ = offset_ + 1000
  objects_data = res.json()
  objects_list = objects_data.get('data')#.get('list') 
  df = pd.json_normalize(objects_list)
  dffull=pd.concat([dffull,df],ignore_index=True)
  time.sleep(4)
  i=i+1

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [16]:
dffull.columns

Index(['list', 'total'], dtype='object')

In [17]:
dffull.reset_index(inplace=True)

In [9]:
len(dffull)

22

In [18]:
dffull.head(18)

   index                                               list  total
0      0  [{'objId': 13391, 'developer': {'devId': 306, ...  10746

In [ ]:
len(dffull)

22

In [19]:
ser= dffull['list']

In [ ]:
len(ser)

22

In [24]:
i=0
while i<len(ser):
  zastr=pd.concat([zastr,pd.DataFrame(ser[i])],ignore_index=True)
  i=i+1

In [23]:
zastr=pd.DataFrame(ser[0])

In [25]:
zastr.head()

,objId,developer,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,objCompensFundFlg,...,problemFlag,siteStatus,objGuarantyEscrowFlg,residentialBuildings,rpdNum,pdId,buildType,objStatus,objCommercNm,complexShortName
0,13391,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,"г Тюмень, ул Профсоюзная",3,12,44,2022-12-31,4297.44,1,...,NONE,Строящиеся,0,1,72-000096,28101,Жилое,0,NaN,NaN
1,13383,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,г Тюмень,4,20,68,2022-12-31,6293.78,1,...,NONE,Строящиеся,0,1,72-000095,28105,Жилое,0,NaN,NaN
2,13398,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,"г Тюмень, ул Профсоюзная, д. 56",7,10,43,2024-12-31,4812.98,0,...,NONE,Строящиеся,0,1,72-000097,28141,Жилое,0,NaN,NaN
3,13397,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,"г Тюмень, ул Профсоюзная, д. 56",6,12,65,2024-12-31,6248.51,0,...,NONE,Строящиеся,0,1,72-000097,28141,Жилое,0,NaN,NaN
4,13399,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,"г Тюмень, ул Профсоюзная, д. 56",1,1,0,2024-12-31,0.00,0,...,NONE,Строящиеся,0,0,72-000097,28141,Нежилое,0,NaN,NaN

In [ ]:
zastr.columns

Index(['objId', 'developer', 'rpdRegionCd', 'objAddr', 'objCommercNm', 'objFloorMin', 'objFloorMax', 'objElemLivingCnt', 'objReady100PercDt', 'objSquareLiving', 'objCompensFundFlg', 'objProblemFlg',
       'latitude', 'longitude', 'problemFlag', 'siteStatus', 'objGuarantyEscrowFlg', 'residentialBuildings', 'rpdNum', 'pdId', 'buildType', 'objStatus', 'complexShortName'],
      dtype='object')

In [4]:
zastr.info()

NameError: ignored

In [ ]:
zastr.describe()

,objId,rpdRegionCd,objFloorMin,objFloorMax,objElemLivingCnt,objSquareLiving,objCompensFundFlg,objProblemFlg,latitude,longitude,objGuarantyEscrowFlg,residentialBuildings,pdId,objStatus
count,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000,746.0,744.000000,744.000000,746.000000,746.000000,746.000000,746.0
mean,31851.833780,45.057641,10.329759,11.982574,176.105898,8401.023097,0.237265,0.0,53.528235,49.380041,0.639410,0.879357,294301.041555,0.0
std,14339.395095,23.628061,6.773109,7.177404,175.929335,7802.053945,0.425692,0.0,5.418212,23.124674,0.480494,0.325931,242046.913354,0.0
min,1366.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,43.033000,20.455400,0.000000,0.000000,1474.000000,0.0
25%,21157.250000,23.000000,5.000000,7.000000,58.250000,3044.142500,0.000000,0.0,48.699225,37.321200,0.000000,1.000000,35186.000000,0.0
50%,35325.500000,50.000000,9.000000,10.000000,127.000000,6489.475000,0.000000,0.0,55.326450,39.667750,1.000000,1.000000,279972.000000,0.0
75%,44328.750000,64.000000,15.000000,17.000000,237.000000,11357.250000,0.000000,0.0,56.910000,55.916800,1.000000,1.000000,531094.250000,0.0
max,49063.000000,92.000000,35.000000,40.000000,1220.000000,45957.980000,1.000000,0.0,66.657000,150.818800,1.000000,1.000000,659205.000000,0.0

In [18]:
zastr=zastr[zastr['rpdRegionCd']==63]

In [ ]:
zastr

,objId,developer,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,objCompensFundFlg,...,problemFlag,siteStatus,objGuarantyEscrowFlg,residentialBuildings,rpdNum,pdId,buildType,objStatus,objCommercNm,complexShortName
63,18136,"{'devId': 6193, 'shortName': 'АЛЬЯНС', 'fullName': 'АЛЬЯНС', 'groupName': 'Альянс', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'companyGroup'...",63,"г Самара, улица Советской Армии, д. 0, корпус 0, строение 0",27,27,360,2023-06-30,20664.24,0,...,NONE,Строящиеся,1,1,63-000283,43084,Жилое,0,NaN,NaN
185,4024,"{'devId': 1087, 'shortName': 'АРНИКА', 'fullName': 'АРНИКА', 'groupName': 'Строительный холдинг Град', 'orgForm': {'id': 119, 'fullForm': 'Закрытое акционерное общество', 'shortForm': 'ЗАО'}, 'com...",63,"г Самара, район Октябрьский, просека Пятая",5,5,16,2023-12-31,918.77,1,...,NONE,Строящиеся,0,1,63-000027,2200,Жилое,0,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 9",Акварель
186,4025,"{'devId': 1087, 'shortName': 'АРНИКА', 'fullName': 'АРНИКА', 'groupName': 'Строительный холдинг Град', 'orgForm': {'id': 119, 'fullForm': 'Закрытое акционерное общество', 'shortForm': 'ЗАО'}, 'com...",63,"г Самара, район Октябрьский, просека Пятая",5,5,64,2022-12-31,3675.08,1,...,NONE,Строящиеся,0,1,63-000027,2200,Жилое,0,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 7",Акварель
187,4023,"{'devId': 1087, 'shortName': 'АРНИКА', 'fullName': 'АРНИКА', 'groupName': 'Строительный холдинг Град', 'orgForm': {'id': 119, 'fullForm': 'Закрытое акционерное общество', 'shortForm': 'ЗАО'}, 'com...",63,"г Самара, район Октябрьский, просека Пятая",5,5,48,2022-12-31,2756.31,1,...,NONE,Строящиеся,0,1,63-000027,2200,Жилое,0,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 8",Акварель
188,4026,"{'devId': 1087, 'shortName': 'АРНИКА', 'fullName': 'АРНИКА', 'groupName': 'Строительный холдинг Град', 'orgForm': {'id': 119, 'fullForm': 'Закрытое акционерное общество', 'shortForm': 'ЗАО'}, 'com...",63,"г Самара, район Октябрьский, просека Пятая",5,5,64,2022-12-31,3666.28,1,...,NONE,Строящиеся,0,1,63-000027,2200,Жилое,0,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 10",Акварель
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11235,25813,"{'devId': 1452, 'shortName': 'СТРОЙПРОЕКТСЕРВИС', 'fullName': 'СТРОЙПРОЕКТСЕРВИС', 'groupName': 'Строительный холдинг Град', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственнос...",63,"г Самара, район Ленинский, Улица Вилоновская, Садовая, Рабочая, Самарская, д. 0",22,22,260,2022-12-31,20045.48,1,...,NONE,Строящиеся,0,1,63-000538,78496,Жилое,0,"ЖК ""Садовая""",САДОВАЯ
11261,33908,"{'devId': 1479, 'shortName': 'СТРОЙТРЕСТ', 'fullName': 'СТРОЙТРЕСТ', 'groupName': 'Строительный холдинг Град', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortFo...",63,"г Самара, район Самарский, улица Степана Разина/Ленинградская",9,10,113,2023-12-31,8621.77,1,...,NONE,Строящиеся,0,1,63-000612,221806,Жилое,0,"Жилой комплекс""Вознесенский""(2 этап) (ЖК""Вознесенский""(2 этап))",Вознесенский
11335,44145,"{'devId': 12579, 'shortName': 'ТЕРМИНАЛ-ХОЛДИНГ', 'fullName': 'ТЕРМИНАЛ-ХОЛДИНГ', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, 'devInn': '63220...",63,"г Тольятти, ул Советская, д. 60А",8,8,56,2023-09-30,3745.47,0,...,NONE,Строящиеся,1,1,63-000723,513488,Жилое,0,NaN,NaN
11713,34040,"{'devId': 2056, 'shortName': 'ЮНИВЕРС-СТРОЙ', 'fullName': 'ЮНИВЕРС-СТРОЙ', 'groupName': 'Форра', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, '...",63,"г Самара, ул Советской Армии, д. 127",26,26,496,2023-06-30,22387.34,0,...,NONE,Строящиеся,1,1,63-000619,232480,Жилое,0,"ЖК ""Журавли""",NaN
11714,43207,"{'devId': 2056, 'shortName': 'ЮНИВЕРС-СТРОЙ', 'fullName': 'ЮНИВЕРС-СТРОЙ', 'groupName': 'Форра', 'orgForm': {'id': 4, 'fullForm': 'Общество с ограниченной ответственностью', 'shortForm': 'ООО'}, '...",63,"г Самара, ул Маяковского",19,19,142,2024-09-30,7802.80,0,...,NONE,Строящиеся,1,1,63-000716,295812,Жилое,0,"ЖК ""Маяковский NEW""",NaN

In [26]:
zastr.reset_index(inplace=True)

In [32]:
len(zastr)

190

In [27]:
zastr.head(2)

,index,objId,developer,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,...,problemFlag,siteStatus,objGuarantyEscrowFlg,residentialBuildings,rpdNum,pdId,buildType,objStatus,objCommercNm,complexShortName
0,0,13391,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,"г Тюмень, ул Профсоюзная",3,12,44,2022-12-31,4297.44,...,NONE,Строящиеся,0,1,72-000096,28101,Жилое,0,NaN,NaN
1,1,13383,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,г Тюмень,4,20,68,2022-12-31,6293.78,...,NONE,Строящиеся,0,1,72-000095,28105,Жилое,0,NaN,NaN

In [23]:
type(zastr.developer)

pandas.core.series.Series

In [52]:
len(zastr)

190

In [28]:
zastr.developer[1]

{'devId': 306,
 'shortName': '2МЕН ГРУПП',
 'fullName': '2МЕН ГРУПП',
 'groupName': '2МЕН ГРУПП ДЕВЕЛОПМЕНТ',
 'orgForm': {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'},
 'companyGroup': 5776,
 'devInn': '7701651356'}

In [43]:
zastr.developer[1].items() #['companyGroup']

dict_items([('devId', 306), ('shortName', '2МЕН ГРУПП'), ('fullName', '2МЕН ГРУПП'), ('groupName', '2МЕН ГРУПП ДЕВЕЛОПМЕНТ'), ('orgForm', {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'}), ('companyGroup', 5776), ('devInn', '7701651356')])

In [30]:
zastr=zastr.assign(e=pd.Series(zastr.developer.).values)

In [32]:
zastr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 2000 non-null   int64
 1   objId                 2000 non-null   int64
 2   developer             2000 non-null   object
 3   rpdRegionCd           2000 non-null   int64
 4   objAddr               1998 non-null   object
 5   objFloorMin           2000 non-null   int64
 6   objFloorMax           2000 non-null   int64
 7   objElemLivingCnt      2000 non-null   int64
 8   objReady100PercDt     2000 non-null   object
 9   objSquareLiving       2000 non-null   float64
 10  objCompensFundFlg     2000 non-null   int64
 11  objProblemFlg         2000 non-null   int64
 12  latitude              2000 non-null   float64
 13  longitude             2000 non-null   float64
 14  problemFlag           2000 non-null   object
 15  siteStatus            2000 non-null   object
 16  objGuarantyEscrowFlg  2000 non-null   int64
 17  residentialBuildings  2000 non-null   int64
 18  rpdNum                2000 non-null   object
 19  pdId                  2000 non-null   int64
 20  buildType             2000 non-null   object
 21  objStatus             2000 non-null   int64
 22  objCommercNm          1564 non-null   object
 23  complexShortName      298 non-null    object
 24  e                     2000 non-null   object
dtypes: float64(3), int64(12), object(10)
memory usage: 390.8+ KB

In [36]:
type(zastr.developer)

pandas.core.series.Series

In [34]:
i=0

while i<len(zastr):
#  print(str(i))
#  zastr=zastr.assign(devId=zastr.developer[i]['devId'])
#  zastr.shortName[i]=zastr.developer[i]['shortName']
#  zastr.fullName[i]=zastr.developer[i]['fullName']
#  zastr.groupName=zastr.developer[i]['groupName']
#  zastr.companyGroup=zastr.developer[i]['companyGroup']
#  zastr.devInn[i]=zastr.developer[i]['devInn']
  i=i+1

In [35]:
zastr.head(2)

,index,objId,developer,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,...,objGuarantyEscrowFlg,residentialBuildings,rpdNum,pdId,buildType,objStatus,objCommercNm,complexShortName,e,devId
0,0,13391,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,"г Тюмень, ул Профсоюзная",3,12,44,2022-12-31,4297.44,...,0,1,72-000096,28101,Жилое,0,NaN,NaN,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",682
1,1,13383,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",72,г Тюмень,4,20,68,2022-12-31,6293.78,...,0,1,72-000095,28105,Жилое,0,NaN,NaN,"{'devId': 306, 'shortName': '2МЕН ГРУПП', 'ful...",682

In [41]:
zastr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 190 non-null    int64
 1   objId                 190 non-null    int64
 2   developer             190 non-null    object
 3   rpdRegionCd           190 non-null    int64
 4   objAddr               190 non-null    object
 5   objFloorMin           190 non-null    int64
 6   objFloorMax           190 non-null    int64
 7   objElemLivingCnt      190 non-null    int64
 8   objReady100PercDt     190 non-null    object
 9   objSquareLiving       190 non-null    float64
 10  objCompensFundFlg     190 non-null    int64
 11  objProblemFlg         190 non-null    int64
 12  latitude              190 non-null    float64
 13  longitude             190 non-null    float64
 14  problemFlag           190 non-null    object
 15  siteStatus            190 non-null    object
 16  objGuarantyEscrowFlg  190 non-null    int64
 17  residentialBuildings  190 non-null    int64
 18  rpdNum                190 non-null    object
 19  pdId                  190 non-null    int64
 20  buildType             190 non-null    object
 21  objStatus             190 non-null    int64
 22  objCommercNm          159 non-null    object
 23  complexShortName      17 non-null     object
dtypes: float64(3), int64(12), object(9)
memory usage: 35.8+ KB

In [28]:
type(zastr.developer[1])

dict

In [54]:
zz=pd.DataFrame(zastr.developer[1])

In [30]:
zz

,devId,shortName,fullName,groupName,orgForm,companyGroup,devInn
fullForm,1087,АРНИКА,АРНИКА,Строительный холдинг Град,Закрытое акционерное общество,5847,6318136702
id,1087,АРНИКА,АРНИКА,Строительный холдинг Град,119,5847,6318136702
shortForm,1087,АРНИКА,АРНИКА,Строительный холдинг Град,ЗАО,5847,6318136702

In [31]:
zastr.head(2)

,index,objId,developer,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,...,problemFlag,siteStatus,objGuarantyEscrowFlg,residentialBuildings,rpdNum,pdId,buildType,objStatus,objCommercNm,complexShortName
0,63,18136,"{'devId': 6193, 'shortName': 'АЛЬЯНС', 'fullNa...",63,"г Самара, улица Советской Армии, д. 0, корпус ...",27,27,360,2023-06-30,20664.24,...,NONE,Строящиеся,1,1,63-000283,43084,Жилое,0,NaN,NaN
1,185,4024,"{'devId': 1087, 'shortName': 'АРНИКА', 'fullNa...",63,"г Самара, район Октябрьский, просека Пятая",5,5,16,2023-12-31,918.77,...,NONE,Строящиеся,0,1,63-000027,2200,Жилое,0,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 9",Акварель

In [ ]:
ser

0    [{'objId': 42206, 'developer': {'devId': 8154, 'shortName': 'СПЕЦЗАСТРОЙЩИК ЖЕЛЕЗНО ИЖЕВСК', 'fullName': 'СПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИК ЖЕЛЕЗНО ИЖЕВСК', 'groupName': 'Железно', 'orgForm': {'id': 4...
Name: list, dtype: object

In [ ]:
documents = []
url_doc_list = 'https://наш.дом.рф/сервисы/api/object/47925/document/rpd'
response = requests.get(url_doc_list)
documents = response.json()
documents = documents['data']
#documents = json_normalize(documents)

In [ ]:
type(documents)

list

In [ ]:
df_docs=pd.DataFrame(documents)

In [ ]:
df_docs

,ordNum,rpdId,pdId,devId,rpdIssueDttm,rpdNum,rpdPublStatusDesc,rpdPdfLink,rpdPdfLinkTest,rpdPdfSize,loadDttm,fileName,fileNameDownload,objId
0,1,652865,620216,1296,10-11-2022 04:16,38-000548,Размещена,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/ce607034-266a-4e49-95f1-217c322a940a,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/ce607034-266a-4e49-95f1-217c322a940a,1126143,21-11-2022 01:10,obj47925_pd38-000548_01,obj47925_pd38-000548,47925
1,2,644383,620216,1296,10-10-2022 10:34,38-000548,Размещена,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/10b264ae-f152-4ac0-9db0-406d40a8a47f,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/10b264ae-f152-4ac0-9db0-406d40a8a47f,1126131,21-11-2022 01:10,obj47925_pd38-000548_02,obj47925_pd38-000548,47925
2,3,640101,620216,1296,05-10-2022 07:48,38-000548,Размещена,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/756e320c-8c44-4e31-8653-71238d3a257d,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/756e320c-8c44-4e31-8653-71238d3a257d,1126588,21-11-2022 01:10,obj47925_pd38-000548_03,obj47925_pd38-000548,47925
3,4,636091,620216,1296,13-09-2022 15:22,38-000548,Размещена,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/e60fe102-2daa-4649-ae7e-f181f13e3f6c,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/e60fe102-2daa-4649-ae7e-f181f13e3f6c,1123821,21-11-2022 01:10,obj47925_pd38-000548_04,obj47925_pd38-000548,47925
4,5,634846,620216,1296,09-09-2022 17:37,38-000548,Размещена,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/cd720523-87b1-497f-b1a8-f575b0a28f7b,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/cd720523-87b1-497f-b1a8-f575b0a28f7b,1124056,21-11-2022 01:10,obj47925_pd38-000548_05,obj47925_pd38-000548,47925
5,6,620216,620216,1296,08-09-2022 16:30,38-000548,Размещена,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/70c73cad-5a83-4aa0-8c6d-28c79eedfbba,https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/70c73cad-5a83-4aa0-8c6d-28c79eedfbba,1123959,21-11-2022 01:10,obj47925_pd38-000548_06,obj47925_pd38-000548,47925

In [ ]:
documents

{'data': [{'ordNum': 1,
   'rpdId': 652865,
   'pdId': 620216,
   'devId': 1296,
   'rpdIssueDttm': '10-11-2022 04:16',
   'rpdNum': '38-000548',
   'rpdPublStatusDesc': 'Размещена',
   'rpdPdfLink': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/ce607034-266a-4e49-95f1-217c322a940a',
   'rpdPdfLinkTest': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/ce607034-266a-4e49-95f1-217c322a940a',
   'rpdPdfSize': '1126143',
   'loadDttm': '21-11-2022 01:10',
   'fileName': 'obj47925_pd38-000548_01',
   'fileNameDownload': 'obj47925_pd38-000548',
   'objId': 47925},
  {'ordNum': 2,
   'rpdId': 644383,
   'pdId': 620216,
   'devId': 1296,
   'rpdIssueDttm': '10-10-2022 10:34',
   'rpdNum': '38-000548',
   'rpdPublStatusDesc': 'Размещена',
   'rpdPdfLink': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/10b264ae-f152-4ac0-9db0-406d40a8a47f',
   'rpdPdfLinkTest': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/10b264ae-f152-4ac0-9db0-406d40a8a47f',
   'rpdPdfSize': '1126131',
   'loadDttm': '21-11-2022 01:10',
   'fileName': 'obj47925_pd38-000548_02',
   'fileNameDownload': 'obj47925_pd38-000548',
   'objId': 47925},
  {'ordNum': 3,
   'rpdId': 640101,
   'pdId': 620216,
   'devId': 1296,
   'rpdIssueDttm': '05-10-2022 07:48',
   'rpdNum': '38-000548',
   'rpdPublStatusDesc': 'Размещена',
   'rpdPdfLink': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/756e320c-8c44-4e31-8653-71238d3a257d',
   'rpdPdfLinkTest': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/756e320c-8c44-4e31-8653-71238d3a257d',
   'rpdPdfSize': '1126588',
   'loadDttm': '21-11-2022 01:10',
   'fileName': 'obj47925_pd38-000548_03',
   'fileNameDownload': 'obj47925_pd38-000548',
   'objId': 47925},
  {'ordNum': 4,
   'rpdId': 636091,
   'pdId': 620216,
   'devId': 1296,
   'rpdIssueDttm': '13-09-2022 15:22',
   'rpdNum': '38-000548',
   'rpdPublStatusDesc': 'Размещена',
   'rpdPdfLink': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/e60fe102-2daa-4649-ae7e-f181f13e3f6c',
   'rpdPdfLinkTest': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/e60fe102-2daa-4649-ae7e-f181f13e3f6c',
   'rpdPdfSize': '1123821',
   'loadDttm': '21-11-2022 01:10',
   'fileName': 'obj47925_pd38-000548_04',
   'fileNameDownload': 'obj47925_pd38-000548',
   'objId': 47925},
  {'ordNum': 5,
   'rpdId': 634846,
   'pdId': 620216,
   'devId': 1296,
   'rpdIssueDttm': '09-09-2022 17:37',
   'rpdNum': '38-000548',
   'rpdPublStatusDesc': 'Размещена',
   'rpdPdfLink': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/cd720523-87b1-497f-b1a8-f575b0a28f7b',
   'rpdPdfLinkTest': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/cd720523-87b1-497f-b1a8-f575b0a28f7b',
   'rpdPdfSize': '1124056',
   'loadDttm': '21-11-2022 01:10',
   'fileName': 'obj47925_pd38-000548_05',
   'fileNameDownload': 'obj47925_pd38-000548',
   'objId': 47925},
  {'ordNum': 6,
   'rpdId': 620216,
   'pdId': 620216,
   'devId': 1296,
   'rpdIssueDttm': '08-09-2022 16:30',
   'rpdNum': '38-000548',
   'rpdPublStatusDesc': 'Размещена',
   'rpdPdfLink': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/70c73cad-5a83-4aa0-8c6d-28c79eedfbba',
   'rpdPdfLinkTest': 'https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/70c73cad-5a83-4aa0-8c6d-28c79eedfbba',
   'rpdPdfSize': '1123959',
   'loadDttm': '21-11-2022 01:10',
   'fileName': 'obj47925_pd38-000548_06',
   'fileNameDownload': 'obj47925_pd38-000548',
   'objId': 47925}],
 'errcode': '0'}

In [ ]:
type(documents)

dict

In [ ]:
type(documents)

list

In [ ]:
!pip install tabula-py as tabula

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.5.1)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [ ]:
!pip install fitz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fitz
  Downloading fitz-0.0.1.dev2-py2.py3-none-any.whl (20 kB)
Collecting nipype
  Downloading nipype-1.8.5-py3-none-any.whl (3.2 MB)
     |████████████████████████████████| 3.2 MB 6.7 MB/s
Requirement already satisfied: httplib2 in /usr/local/lib/python3.7/dist-packages (from fitz) (0.17.4)
Requirement already satisfied: nibabel in /usr/local/lib/python3.7/dist-packages (from fitz) (3.0.2)
Collecting configobj
  Downloading configobj-5.0.6.tar.gz (33 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fitz) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from fitz) (1.7.3)
Collecting pyxnat
  Downloading pyxnat-1.5-py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 3.4 MB/s
Collecting configparser
  Downloading configparser-5.3.0-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fitz) (1.3.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from configobj->fitz) (1.15.0)
Requirement already satisfied: pydot>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (1.3.0)
Requirement already satisfied: filelock>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (3.8.0)
Collecting simplejson>=3.8.0
  Downloading simplejson-3.18.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (130 kB)
     |████████████████████████████████| 130 kB 55.6 MB/s
Collecting etelemetry>=0.2.0
  Downloading etelemetry-0.3.0-py3-none-any.whl (6.3 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (21.3)
Collecting prov>=1.5.2
  Downloading prov-2.0.0-py3-none-any.whl (421 kB)
     |████████████████████████████████| 421 kB 56.8 MB/s
Collecting rdflib>=5.0.0
  Downloading rdflib-6.2.0-py3-none-any.whl (500 kB)
     |████████████████████████████████| 500 kB 53.2 MB/s
Collecting traits!=5.0,<6.4,>=4.6
  Downloading traits-6.3.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 37.4 MB/s
Requirement already satisfied: python-dateutil>=2.2 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (2.8.2)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (2.6.3)
Requirement already satisfied: click>=6.6.0 in /usr/local/lib/python3.7/dist-packages (from nipype->fitz) (7.1.2)
Collecting looseversion
  Downloading looseversion-1.0.2-py3-none-any.whl (6.4 kB)
Collecting ci-info>=0.2
  Downloading ci_info-0.3.0-py3-none-any.whl (7.8 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from etelemetry>=0.2.0->nipype->fitz) (2.23.0)
Requirement already satisfied: lxml>=3.3.5 in /usr/local/lib/python3.7/dist-packages (from prov>=1.5.2->nipype->fitz) (4.9.1)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot>=1.2.3->nipype->fitz) (3.0.9)
Collecting isodate
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 515 kB/s
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from rdflib>=5.0.0->nipype->fitz) (4.13.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from rdflib>=5.0.0->nipype->fitz) (57.4.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->rdflib>=5.0.0->nipype->fitz) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->rdflib>=5.0.0->nipype->fitz) (3.10.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fitz) (2022.6)
Requirement already satisfied: pathlib>=1.0 in /usr/local/lib/python3.7/dist-packages (from pyxnat->fitz) (1.0.1)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python3.7/dist-packages (from pyxnat->fitz) (0.16.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->etelemetry>=0.2.0->nipype->fitz) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->etelemetry>=0.2.0->nipype->fitz) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->etelemetry>=0.2.0->nipype->fitz) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->etelemetry>=0.2.0->nipype->fitz) (2022.9.24)
Building wheels for collected packages: configobj
  Building wheel for configobj (setup.py) ... done
  Created wheel for configobj: filename=configobj-5.0.6-py3-none-any.whl size=34546 sha256=850c4286230dd8ec5d3f1f1007815bc4b0eaa0dd65c9a70eb318c5e9d8761e79
  Stored in directory: /root/.cache/pip/wheels/0d/c4/19/13d74440f2a571841db6b6e0a273694327498884dafb9cf978
Successfully built configobj
Installing collected packages: isodate, rdflib, ci-info, traits, simplejson, prov, looseversion, etelemetry, pyxnat, nipype, configparser, configobj, fitz
Successfully installed ci-info-0.3.0 configobj-5.0.6 configparser-5.3.0 etelemetry-0.3.0 fitz-0.0.1.dev2 isodate-0.6.1 looseversion-1.0.2 nipype-1.8.5 prov-2.0.0 pyxnat-1.5 rdflib-6.2.0 simplejson-3.18.0 traits-6.3.2

In [ ]:
!pip install PyMuPDF

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyMuPDF
  Downloading PyMuPDF-1.21.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 4.4 MB/s
Installing collected packages: PyMuPDF
Successfully installed PyMuPDF-1.21.0

In [ ]:
!pip install PyPDF2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyPDF2
  Downloading pypdf2-2.11.2-py3-none-any.whl (220 kB)
     |████████████████████████████████| 220 kB 5.2 MB/s
Requirement already satisfied: typing_extensions>=3.10.0.0 in /usr/local/lib/python3.7/dist-packages (from PyPDF2) (4.1.1)
Installing collected packages: PyPDF2
Successfully installed PyPDF2-2.11.2

In [ ]:
import fitz

In [ ]:
import os.path
import fitz
from PyPDF2 import PdfFileReader, PdfFileWriter, PdfFileMerger

In [ ]:
import tabula

In [ ]:
#rpdPdfLink='https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/cd720523-87b1-497f-b1a8-f575b0a28f7b'
#rpdPdfLink='https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/ce607034-266a-4e49-95f1-217c322a940a'+'?filename='+'obj47925_pd38-000548'+'.pdf'
rpdPdfLink='https://xn--80az8a.xn--d1aqf.xn--p1ai/api/ext/file/70c73cad-5a83-4aa0-8c6d-28c79eedfbba'
#rpdPdfLink='https://amgrad.ru/upload/kelnik.adminpage/381/55n88vusgu86i6jwcimdy8ieynii26wg/Proektnaya-deklaratsiya-korpus-3-ot-07.11.2022.pdf'

In [ ]:
print(rpdPdfLink)

https://amgrad.ru/upload/kelnik.adminpage/381/55n88vusgu86i6jwcimdy8ieynii26wg/Proektnaya-deklaratsiya-korpus-3-ot-07.11.2022.pdf

In [ ]:
os.path.isfile(rpdPdfLink)

False

In [ ]:
tables = tabula.read_pdf(rpdPdfLink, pages='all', pandas_options={'header': None})

In [ ]:
from PyPDF2 import PdfFileReader
import re

In [ ]:
r = requests.get(rpdPdfLink, stream=True)

In [ ]:
r

In [ ]:
with open(rpdPdfLink) as filehandle:  
    pdf = PdfFileReader(filehandle)

FileNotFoundError: ignored

In [ ]:
with fitz.open(rpdPdfLink) as doc:
                text = []
                for page in doc:
                    text += page.get_text('blocks')

FileNotFoundError: ignored

In [ ]:
tables[108]

,0,1,2,3,4,5,6
0,NaN,"19.7 О количестве заключенных\rдоговоров (общая площадь\rобъектов долевого\rстроительства и цена договора) с\rуказанием вида объекта\rдолевого строительства (жилое\rпомещение, нежилое\rпомещение, ...",NaN,19.7.1,NaN,О количестве договоров участия в долевом строительстве:,NaN
1,NaN,NaN,NaN,19.7.1.1,NaN,Вид объекта долевого строительства:,NaN
2,NaN,NaN,NaN,19.7.1.1.1,NaN,Жилые помещения:,NaN
3,NaN,NaN,NaN,19.7.1.1.1.1,NaN,"Количество договоров, заключенных с использованием счетов эскроу:\r845",NaN
4,NaN,NaN,NaN,19.7.1.1.1.2,NaN,"Количество договоров, заключенных при условии уплаты обязательных отчислений\r(взносов) в компенсационный фонд:\r0",NaN
5,NaN,NaN,NaN,19.7.1.1.1.3,NaN,"Количество договоров, заключенных с использованием иных способов обеспечения\rгражданской ответственности застройщика:\r0",NaN
6,NaN,NaN,NaN,19.7.1.1.2,NaN,Нежилые помещения:,NaN
7,NaN,NaN,NaN,19.7.1.1.2.1,NaN,"Количество договоров, заключенных с использованием счетов эскроу:\r0",NaN
8,NaN,NaN,NaN,19.7.1.1.2.2,NaN,"Количество договоров, заключенных при условии уплаты обязательных отчислений\r(взносов) в компенсационный фонд:\r0",NaN
9,NaN,NaN,NaN,19.7.1.1.2.3,NaN,"Количество договоров, заключенных с использованием иных способов обеспечения\rгражданской ответственности застройщика:\r0",NaN
10,NaN,NaN,NaN,19.7.1.1.3,NaN,Машино-места:,NaN

In [ ]:
len(tables[113].axes[1])

9

In [ ]:
type(tables)

list

In [ ]:
#from numpy import float64
i=0
j=0
k=0
str_d=''
str_m=''
str_r=''
num_d=0
num_m=0
num_r=0
while k<len(tables):
 i=0
 while i<len(tables[k].axes[1]):
  j=0
  while j<len(tables[k]):
#   print(str(k)+' - '+ str(i)+' - '+str(j)+':'+str(tables[k][i][j])+'   ' + str(type(tables[k][i][j])))
   if str(tables[k][i][j])!='nan' and  str(type(tables[k][i][j]))!="<class 'numpy.float64'>" and  str(type(tables[k][i][j]))!="<class 'numpy.int64'>" :
    if (str(tables[k][i][j].replace('\r', '')).find('Суммарная цена договоров, заключенных с использованием счетов эскроу:')>-1):
     str_r=tables[k][i][j].replace('\r', '');
     str_r=re.sub('Суммарная цена договоров, заключенных с использованием счетов эскроу:', '', str_r);
     str_r=re.sub(' руб.', '', str_r);
     str_r=re.sub(' ', '', str_r);
     num_r=num_r+float(str_r.replace(",","."));
    if (str(tables[k][i][j].replace('\r', '')).find('Количество договоров, заключенных с использованием счетов эскроу:')>-1):
     str_d=tables[k][i][j].replace('\r', '');
     str_d=re.sub('Количество договоров, заключенных с использованием счетов эскроу:', '', str_d);
     str_d=re.sub(' руб.', '', str_d);
     str_d=re.sub(' ', '', str_d);
     num_d=num_d+float(str_d.replace(",","."));
    if (str(tables[k][i][j].replace('\r', '')).find('Площадь объектов, в отношении которых договор участия в долевом строительстве')>-1):
     str_m=tables[k][i][j].replace('\r', '');
#     print(str_m)
     str_m=re.sub('Площадь объектов, в отношении которых договор участия в долевом строительствезаключен с использованием счетов эскроу:', '', str_m);
     str_m=re.sub("Площадь объектов, в отношении которых договор участия в долевом строительствезаключен при условии уплаты обязательных отчислений (взносов) в компенсационныйфонд:", '', str_m);
     str_m=re.sub("Площадь объектов, в отношении которых договор участия в долевом строительствезаключен с использованием иных способов обеспечения гражданской ответственностизастройщика:", '', str_m);
     str_m=re.sub(' м2', '', str_m);
     str_m=re.sub(' ', '', str_m);
     str_m=str_m.replace('(','');
     str_m=str_m.replace(')','');
     str_m=re.sub("Площадьобъектов,вотношениикоторыхдоговоручастиявдолевомстроительствезаключенприусловииуплатыобязательныхотчисленийвзносоввкомпенсационныйфонд:", '', str_m);
#     print(str_m);
     num_m=num_m+float(str_m.replace(",","."));
   j=j+1
  i=i+1
# print(k)
 k=k+1
print(num_d)
print(num_r)
print(num_m)

845.0
2831752392.54
39330.69

In [ ]:
print(tables[110][5].to_string().find('Суммарная цена договоров, заключенных с использованием счетов эскроу:')>-1)

True

In [ ]:
pd.options.display.width=200
pd.options.display.max_colwidth=200

In [ ]:
len(tables[108][5]) #[tables[108][5].str.find('845')>-1]

11

In [ ]:
tables[108][5]

0                                                                       О количестве договоров участия в долевом строительстве:
1                                                                                           Вид объекта долевого строительства:
2                                                                                                              Жилые помещения:
3                                                        Количество договоров, заключенных с использованием счетов эскроу:\r845
4            Количество договоров, заключенных при условии уплаты обязательных отчислений\r(взносов) в компенсационный фонд:\r0
5     Количество договоров, заключенных с использованием иных способов обеспечения\rгражданской ответственности застройщика:\r0
6                                                                                                            Нежилые помещения:
7                                                          Количество договоров, заключенных с использованием счетов эскроу:\r0
8            Количество договоров, заключенных при условии уплаты обязательных отчислений\r(взносов) в компенсационный фонд:\r0
9     Количество договоров, заключенных с использованием иных способов обеспечения\rгражданской ответственности застройщика:\r0
10                                                                                                                Машино-места:
Name: 5, dtype: object

In [ ]:
type(tables[108][5])

pandas.core.series.Series

In [ ]:
df = pd.DataFrame(list(zip(tables)))

In [ ]:
df[1]

KeyError: ignored

In [ ]:
aa=tables.reverse()

In [ ]:
ww=(tables[108][tables[108][5].str.find('845')>-1][5].to_string())

In [ ]:
len(ww)

54

In [ ]:
ww

'3    Количество договоров, заключенных с использова...'

In [ ]:
print(tables[108][tables[108][5].str.find('845')>-1][5].to_string)

<bound method Series.to_string of 3    Количество договоров, заключенных с использова...
Name: 5, dtype: object>

In [ ]:
dffull[dffull['rpdRegionCd']==63]['objId'].unique().to_frame().count()

KeyError: ignored

In [ ]:
dffull[dffull['objAddr'].str.lower().str.find('самара')>-1].count()

objId                                        50
rpdRegionCd                                  50
objAddr                                      50
objFloorMin                                  50
objFloorMax                                  50
objElemLivingCnt                             50
objReady100PercDt                            50
objSquareLiving                              50
objCompensFundFlg                            50
objProblemFlg                                50
latitude                                     50
longitude                                    50
problemFlag                                  50
siteStatus                                   50
objGuarantyEscrowFlg                         50
residentialBuildings                         50
rpdNum                                       50
pdId                                         50
buildType                                    50
objStatus                                    50
developer.devId                              50
developer.shortName                          50
developer.fullName                           50
developer.groupName                          33
developer.orgForm.id                         50
developer.orgForm.fullForm                   50
developer.orgForm.shortForm                  50
developer.companyGroup                       33
developer.devInn                             50
objCommercNm                                 42
developer.bankruptStage.bankruptStageCd       0
developer.bankruptStage.bankruptStageDesc     0
developer.bankruptStage.bankruptLawUrl        0
developer.orgBankruptMsgDttm                  0
complexShortName                             10
dtype: int64

In [ ]:
df = pd.json_normalize(objects_list)
df[df['objAddr'].str.lower().str.find('самара')>-1]

,objId,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,objCompensFundFlg,objProblemFlg,...,developer.orgForm.fullForm,developer.orgForm.shortForm,developer.companyGroup,developer.devInn,objCommercNm,developer.bankruptStage.bankruptStageCd,developer.bankruptStage.bankruptStageDesc,developer.bankruptStage.bankruptLawUrl,developer.orgBankruptMsgDttm,complexShortName
63,18136,63,"г Самара, улица Советской Армии, д. 0, корпус ...",27,27,360,2023-06-30,20664.24,0,0,...,Общество с ограниченной ответственностью,ООО,9176.0,6312173063,NaN,NaN,NaN,NaN,NaN,NaN
184,4024,63,"г Самара, район Октябрьский, просека Пятая",5,5,16,2023-12-31,918.77,1,0,...,Закрытое акционерное общество,ЗАО,5847.0,6318136702,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 9",NaN,NaN,NaN,NaN,Акварель
185,4025,63,"г Самара, район Октябрьский, просека Пятая",5,5,64,2022-12-31,3675.08,1,0,...,Закрытое акционерное общество,ЗАО,5847.0,6318136702,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 7",NaN,NaN,NaN,NaN,Акварель
186,4023,63,"г Самара, район Октябрьский, просека Пятая",5,5,48,2022-12-31,2756.31,1,0,...,Закрытое акционерное общество,ЗАО,5847.0,6318136702,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 8",NaN,NaN,NaN,NaN,Акварель
187,4026,63,"г Самара, район Октябрьский, просека Пятая",5,5,64,2022-12-31,3666.28,1,0,...,Закрытое акционерное общество,ЗАО,5847.0,6318136702,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 10",NaN,NaN,NaN,NaN,Акварель
411,24539,63,"г Самара, Белорусская",25,25,396,2022-12-31,25228.66,0,0,...,Общество с ограниченной ответственностью,ООО,5874.0,6319225715,"ЖК ""Две реки""",NaN,NaN,NaN,NaN,NaN
412,24540,63,"г Самара, Белорусская",1,1,0,2022-12-31,0.00,0,0,...,Общество с ограниченной ответственностью,ООО,5874.0,6319225715,"ЖК ""Две реки""",NaN,NaN,NaN,NaN,NaN

запись в excel

In [ ]:
with pd.ExcelWriter('НашДомРФ.xlsx', mode='w') as writer:
    df.to_excel(writer, sheet_name='НашДомРФ',index=False)

запись в csv

In [ ]:
file_csv = df.to_csv(sep=',', index=False)

запись в pickle

In [ ]:
file_pickle = df.to_pickle(path = 'str')

запись в БД

In [ ]:
from pandas.io import sql
import MySQLdb

con = MySQLdb.connect()

df.to_sql(con=con, name='OurHouse', if_exists='replace', flavor='mysql')