### Задание
- Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
- Cохранить ее в pandas dataframe
- Cохранить pandas dataframe в excel
- Cохранить pandas dataframe в pickle
- Cохранить pandas dataframe в БД

In [6]:
import requests
import pandas as pd
import time

In [52]:
documents = []
url_doc_list = 'https://наш.дом.рф/сервисы/api/object/40239'
response = requests.get(url_doc_list)
documents = response.json()
documents = documents['data']

In [53]:
df = pd.json_normalize(documents)

In [50]:
df

,errcode,data.id,data.pdId,data.developer.devId,data.developer.devShortCleanNm,data.developer.devShortNm,data.developer.devFullCleanNm,data.developer.problObjCnt,data.developer.buildObjCnt,data.developer.comissObjCnt,...,data.soldOutPerc,data.objPriceAvg,data.generalContractorNm,data.nonlivFirstFloor,data.objectTransportInfo,data.conclusion,data.objLkSaleDepEmail,data.objGreenHouseFlg,data.objEnergyEffShortDesc,data.infrastructureIndexValue
0,0,40239,460620,8526,СЗ ГВ ДЕВЕЛОПМЕНТ,СЗ ГВ ДЕВЕЛОПМЕНТ,СПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИК ГЛОБАЛ ВИЖН ДЕВЕ...,0,2,2,...,0.919014,71998,ООО Артефакт (ИНН: 6450070182),1,[],True,sale@amgrad.ru,0,B,3

In [53]:
offset_ = 0
limit_ = 1000
params= {'region':'63'}
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
res = requests.get(url) #,params=params)
i=0

In [58]:
objects_data = res.json()
objects_list = objects_data.get('data') #.get('list')

In [59]:
  df = pd.json_normalize(objects_list)
  dffull=df

In [60]:
df=df.drop(df.index)

In [61]:
i

0

In [62]:
while i<=10:
  url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
  res = requests.get(url) #,params=params)
  if str(res)!='<Response [200]>': break
  offset_ = offset_ + 1000
  objects_data = res.json()
  objects_list = objects_data.get('data')#.get('list') 
  df = pd.json_normalize(objects_list)
  dffull=pd.concat([dffull,df],ignore_index=True)
  time.sleep(3)
  i=i+1

In [74]:
dffull.columns

Index(['list', 'total'], dtype='object')

In [75]:
dffull.reset_index(inplace=True)

In [84]:
ser= dffull['list']

In [93]:
ser[0][2]

{'objId': 13398,
 'developer': {'devId': 306,
  'shortName': '2МЕН ГРУПП',
  'fullName': '2МЕН ГРУПП',
  'groupName': '2МЕН ГРУПП ДЕВЕЛОПМЕНТ',
  'orgForm': {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'},
  'companyGroup': 5776,
  'devInn': '7701651356'},
 'rpdRegionCd': 72,
 'objAddr': 'г Тюмень, ул Профсоюзная, д. 56',
 'objFloorMin': 7,
 'objFloorMax': 10,
 'objElemLivingCnt': 43,
 'objReady100PercDt': '2024-12-31',
 'objSquareLiving': 4812.98,
 'objCompensFundFlg': 0,
 'objProblemFlg': 0,
 'latitude': 57.1519,
 'longitude': 65.5544,
 'problemFlag': 'NONE',
 'siteStatus': 'Строящиеся',
 'objGuarantyEscrowFlg': 0,
 'residentialBuildings': 1,
 'rpdNum': '72-000097',
 'pdId': 28141,
 'buildType': 'Жилое',
 'objStatus': 0}

In [50]:
dffull[dffull['rpdRegionCd']==63]['objId'].unique().to_frame().count()

AttributeError: ignored

In [33]:
dffull[dffull['objAddr'].str.lower().str.find('самара')>-1].count()

objId                                        50
rpdRegionCd                                  50
objAddr                                      50
objFloorMin                                  50
objFloorMax                                  50
objElemLivingCnt                             50
objReady100PercDt                            50
objSquareLiving                              50
objCompensFundFlg                            50
objProblemFlg                                50
latitude                                     50
longitude                                    50
problemFlag                                  50
siteStatus                                   50
objGuarantyEscrowFlg                         50
residentialBuildings                         50
rpdNum                                       50
pdId                                         50
buildType                                    50
objStatus                                    50
developer.devId                              50
developer.shortName                          50
developer.fullName                           50
developer.groupName                          33
developer.orgForm.id                         50
developer.orgForm.fullForm                   50
developer.orgForm.shortForm                  50
developer.companyGroup                       33
developer.devInn                             50
objCommercNm                                 42
developer.bankruptStage.bankruptStageCd       0
developer.bankruptStage.bankruptStageDesc     0
developer.bankruptStage.bankruptLawUrl        0
developer.orgBankruptMsgDttm                  0
complexShortName                             10
dtype: int64

In [28]:
df = pd.json_normalize(objects_list)
df[df['objAddr'].str.lower().str.find('самара')>-1]

,objId,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,objCompensFundFlg,objProblemFlg,...,developer.orgForm.fullForm,developer.orgForm.shortForm,developer.companyGroup,developer.devInn,objCommercNm,developer.bankruptStage.bankruptStageCd,developer.bankruptStage.bankruptStageDesc,developer.bankruptStage.bankruptLawUrl,developer.orgBankruptMsgDttm,complexShortName
63,18136,63,"г Самара, улица Советской Армии, д. 0, корпус ...",27,27,360,2023-06-30,20664.24,0,0,...,Общество с ограниченной ответственностью,ООО,9176.0,6312173063,NaN,NaN,NaN,NaN,NaN,NaN
184,4024,63,"г Самара, район Октябрьский, просека Пятая",5,5,16,2023-12-31,918.77,1,0,...,Закрытое акционерное общество,ЗАО,5847.0,6318136702,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 9",NaN,NaN,NaN,NaN,Акварель
185,4025,63,"г Самара, район Октябрьский, просека Пятая",5,5,64,2022-12-31,3675.08,1,0,...,Закрытое акционерное общество,ЗАО,5847.0,6318136702,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 7",NaN,NaN,NaN,NaN,Акварель
186,4023,63,"г Самара, район Октябрьский, просека Пятая",5,5,48,2022-12-31,2756.31,1,0,...,Закрытое акционерное общество,ЗАО,5847.0,6318136702,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 8",NaN,NaN,NaN,NaN,Акварель
187,4026,63,"г Самара, район Октябрьский, просека Пятая",5,5,64,2022-12-31,3666.28,1,0,...,Закрытое акционерное общество,ЗАО,5847.0,6318136702,"Жилой комплекс ""Акварель"" (ЖК ""Акварель"") дом 10",NaN,NaN,NaN,NaN,Акварель
411,24539,63,"г Самара, Белорусская",25,25,396,2022-12-31,25228.66,0,0,...,Общество с ограниченной ответственностью,ООО,5874.0,6319225715,"ЖК ""Две реки""",NaN,NaN,NaN,NaN,NaN
412,24540,63,"г Самара, Белорусская",1,1,0,2022-12-31,0.00,0,0,...,Общество с ограниченной ответственностью,ООО,5874.0,6319225715,"ЖК ""Две реки""",NaN,NaN,NaN,NaN,NaN

запись в excel

In [ ]:
with pd.ExcelWriter('НашДомРФ.xlsx', mode='w') as writer:
    df.to_excel(writer, sheet_name='НашДомРФ',index=False)

запись в csv

In [ ]:
file_csv = df.to_csv(sep=',', index=False)

запись в pickle

In [ ]:
file_pickle = df.to_pickle(path = 'str')

запись в БД

In [ ]:
from pandas.io import sql
import MySQLdb

con = MySQLdb.connect()

df.to_sql(con=con, name='OurHouse', if_exists='replace', flavor='mysql')