<a href="https://colab.research.google.com/github/EvgenyBelov78/DA1/blob/main/Salaries_in_SF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
from tqdm.auto import tqdm

In [9]:
!wget https://www.kaggle.com/kaggle/sf-salaries?select=Salaries.csv

--2022-11-06 11:54:00--  https://www.kaggle.com/kaggle/sf-salaries?select=Salaries.csv
Resolving www.kaggle.com (www.kaggle.com)... 35.244.233.98
Connecting to www.kaggle.com (www.kaggle.com)|35.244.233.98|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘sf-salaries?select=Salaries.csv’

sf-salaries?select=     [ <=>                ]  16.88K  --.-KB/s    in 0.001s

2022-11-06 11:54:00 (20.3 MB/s) - ‘sf-salaries?select=Salaries.csv’ saved [17286]

In [15]:
url='https://raw.githubusercontent.com/Kokkalo4/Kaggle-SF-Salaries/master/Salaries.csv'

In [16]:
df = pd.read_csv(url)
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [18]:
df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [19]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [22]:
df['Year'].value_counts()

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

In [23]:
df['Agency'].value_counts()

San Francisco    148654
Name: Agency, dtype: int64

In [24]:
df['Status'].value_counts()

FT    22334
PT    15785
Name: Status, dtype: int64

In [25]:
df['Notes'].value_counts()

Series([], Name: Notes, dtype: int64)

In [31]:
df[df.Status.isna()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN

In [32]:
df[df.EmployeeName.isna()]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

In [33]:
df[df.JobTitle.isna()]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

In [34]:
df[df.BasePay.isna()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
81391,81392,Kevin P Cashman,Deputy Chief 3,NaN,0.0,149934.11,0.0,149934.11,149934.11,2013,NaN,San Francisco,NaN
84506,84507,Demetrya Mullens,Licensed Vocational Nurse,NaN,0.0,110485.41,20779.0,110485.41,131264.41,2013,NaN,San Francisco,NaN
84960,84961,Michael M Horan,Park Patrol Officer,NaN,0.0,120000.0,8841.48,120000.00,128841.48,2013,NaN,San Francisco,NaN
90525,90526,Thomas Tang,Police Officer 3,NaN,0.0,106079.31,0.0,106079.31,106079.31,2013,NaN,San Francisco,NaN
90786,90787,Michael C Hill,Deputy Sheriff,NaN,0.0,81299.02,23877.53,81299.02,105176.55,2013,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.0,10.67,0.0,10.67,10.67,2013,NaN,San Francisco,NaN
110527,110528,Nereida Vega,Senior Clerk,NaN,0.0,5.56,0.0,5.56,5.56,2013,NaN,San Francisco,NaN
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.0,0.0,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.0,0.0,-8.2,0.00,-8.20,2013,NaN,San Francisco,NaN
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN

In [43]:
df[(df['JobTitle'].str.lower().str.find('police')>-1)&(df['JobTitle'].str.upper().str.find('DEPARTMENT')==-1)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.0,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
111,112,C PETRUZZELLA,POLICE OFFICER III,63811.18,57966.33,98578.97,NaN,220356.48,220356.48,2011,NaN,San Francisco,NaN
224,225,RAYMOND KOENIG,POLICE OFFICER I,63625.16,41441.44,97799.84,NaN,202866.44,202866.44,2011,NaN,San Francisco,NaN
228,229,SAM YUEN,POLICE OFFICER II,110242.81,16939.01,75533.1,NaN,202714.92,202714.92,2011,NaN,San Francisco,NaN
244,245,MICHAEL SIMMONS,POLICE OFFICER III,112441.8,17715.27,71120.05,NaN,201277.12,201277.12,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148312,148313,Jerome J Alamil,Police Officer,309.90,0.00,0.00,64.52,309.90,374.42,2014,NaN,San Francisco,PT
148409,148410,Dennis V Cravalho,Police Officer,0.00,0.00,242.66,0.00,242.66,242.66,2014,NaN,San Francisco,PT
148437,148438,Elizabeth A Maron,Police Officer 3,0.00,0.00,212.39,0.00,212.39,212.39,2014,NaN,San Francisco,PT
148506,148507,Patricia O Williams,Community Police Services Aide,0.00,0.00,134.78,0.00,134.78,134.78,2014,NaN,San Francisco,PT
148561,148562,Marshall Robles,Community Police Services Aide,0.00,0.00,59.59,10.78,59.59,70.37,2014,NaN,San Francisco,PT

In [ ]:
df['Dept']='Police' df[(df['JobTitle'].str.lower().str.find('police')>-1)&(df['JobTitle'].str.upper().str.find('DEPARTMENT')==-1)]

In [49]:
df.loc[df['JobTitle'].str.lower().str.find('police')>-1,['Dept']]='Police'

In [68]:
df.loc[df['JobTitle'].str.lower().str.find('medicine')>-1,['Dept']]='Medicine'

In [73]:
df[(df['JobTitle'].str.lower().str.find('medicine')>-1)]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status, Dept]
Index: []

In [74]:
df.loc[df['JobTitle'].str.lower().str.find('medical')>-1,['Dept']]='Medicine'

In [52]:
df.loc[df['JobTitle'].str.lower().str.find('fire')>-1,['Dept']]='Fire'

In [58]:
df[(df['Dept']=='Fire')&(df['Year']==2011)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Dept
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,Fire
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN,Fire
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN,Fire
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN,Fire
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34790,34791,CHARLES JOHNSON,FIREFIGHTER,0.0,0.0,1966.11,NaN,1966.11,1966.11,2011,NaN,San Francisco,NaN,Fire
34927,34928,THOMAS LEEPER,FIRE FIGHTER PARAMEDIC,0.0,11.21,1707.63,NaN,1718.84,1718.84,2011,NaN,San Francisco,NaN,Fire
35811,35812,ROBERTO LUCHA,FIREFIGHTER,0.0,217.1,185.07,NaN,402.17,402.17,2011,NaN,San Francisco,NaN,Fire
36076,36077,DEBRA TANIS,FIRE RESCUE PARAMEDIC,0.0,0.0,92.21,NaN,92.21,92.21,2011,NaN,San Francisco,NaN,Fire
36153,36154,ROCK CRAWFORD,FIREFIGHTER,0.0,0.0,5.8,NaN,5.80,5.80,2011,NaN,San Francisco,NaN,Fire

In [61]:
df[df['BasePay'].isna()].sort_values('BasePay',ascending=False)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Dept
81391,81392,Kevin P Cashman,Deputy Chief 3,NaN,0.0,149934.11,0.0,149934.11,149934.11,2013,NaN,San Francisco,NaN,NaN
84506,84507,Demetrya Mullens,Licensed Vocational Nurse,NaN,0.0,110485.41,20779.0,110485.41,131264.41,2013,NaN,San Francisco,NaN,NaN
84960,84961,Michael M Horan,Park Patrol Officer,NaN,0.0,120000.0,8841.48,120000.00,128841.48,2013,NaN,San Francisco,NaN,NaN
90525,90526,Thomas Tang,Police Officer 3,NaN,0.0,106079.31,0.0,106079.31,106079.31,2013,NaN,San Francisco,NaN,Police
90786,90787,Michael C Hill,Deputy Sheriff,NaN,0.0,81299.02,23877.53,81299.02,105176.55,2013,NaN,San Francisco,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.0,10.67,0.0,10.67,10.67,2013,NaN,San Francisco,NaN,NaN
110527,110528,Nereida Vega,Senior Clerk,NaN,0.0,5.56,0.0,5.56,5.56,2013,NaN,San Francisco,NaN,NaN
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.0,0.0,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN,Police
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.0,0.0,-8.2,0.00,-8.20,2013,NaN,San Francisco,NaN,Police
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN,Police

In [66]:
df.groupby('EmployeeName')['EmployeeName'].count().sort_values(ascending=False)

EmployeeName
Kevin Lee             13
Steven Lee            11
William Wong          11
Richard Lee           11
John Chan              9
                      ..
JIMMY GU               1
JIMMY FORD             1
JIMMY DEL ROSARIO      1
JIMMY CHIN             1
KIMBERLY HIROSHIMA     1
Name: EmployeeName, Length: 110811, dtype: int64

In [75]:
df.groupby('Dept')['Dept'].count().sort_values(ascending=False)

Dept
Police      8201
Fire        5879
Medicine    1687
Name: Dept, dtype: int64

In [79]:
df[(df['Dept']!='NaN')&(df['BasePay']!='NaN')].groupby('Dept')['BasePay'].mean().sort_values(ascending=False)

TypeError: ignored