Задание 1.
В excel файле «Задачи Python.xlsx» на листе «Продажи» содержится информация о количестве заключенных ипотечных контрактов. На листе «Справочник» содержится информация о сотрудниках.

In [102]:
import pandas as pd
import numpy as np
import time
import datetime

In [103]:
url='https://github.com/EvgenyBelov78/DA1/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B8%20Python.xlsx?raw=true'

In [104]:
xl = pd.ExcelFile(url)
df = xl.parse("Продажи")
df_name = xl.parse("Справочник")

In [105]:
# объединение датафреймов
df=pd.merge(df,df_name)

In [106]:
# в задании указано "Дубликаты удалить и заменить суммой продаж по id за этот месяц", поэтому заполняем суммой продаж
dun_sum=df.groupby(['Date','ID','Name'])['Sales'].sum().sort_values(ascending=False)
dun_sum=dun_sum.to_frame()
dun_sum.reset_index(inplace=True)

In [107]:
# в задании указано "Если среднее значение – нецелое число, необходимо округлить его в меньшую сторону.", поэтому заполняем средним и преобразуем в целое число
dun_avg=df.groupby(['Date','ID','Name'])['Sales'].mean().astype(int).sort_values(ascending=False)
dun_avg=dun_avg.to_frame()
dun_avg.reset_index(inplace=True)

In [108]:
dun_sum

         Date  ID   Name  Sales
0  2021-02-01   1  Вася     130
1  2020-11-01   2   Петя    130
2  2021-07-01   5   Вика    105
3  2020-10-01   4   Даша     95
4  2021-09-01   1  Вася      87
..        ...  ..    ...    ...
70 2020-07-01   3   Маша      6
71 2020-01-01   2   Петя      4
72 2020-11-01   1  Вася       3
73 2020-11-01   3   Маша      2
74 2021-08-01   2   Петя      1

[75 rows x 4 columns]

In [109]:
dun_avg

         Date  ID   Name  Sales
0  2021-10-01   4   Даша     40
1  2020-04-01   3   Маша     40
2  2020-05-01   4   Даша     40
3  2020-10-01   2   Петя     39
4  2021-02-01   4   Даша     37
..        ...  ..    ...    ...
70 2020-07-01   3   Маша      6
71 2020-01-01   2   Петя      4
72 2020-11-01   1  Вася       3
73 2020-11-01   3   Маша      2
74 2021-08-01   2   Петя      1

[75 rows x 4 columns]

Задание 2.
Для каждого слова в строке «Без труда не выловишь и рыбку из пруда» вывести:
А) Список слов
Б) Первую букву каждого слова

In [110]:
str='Без труда не выловишь и рыбку из пруда'

In [111]:
w=str.split()

In [112]:
i=0
while i<len(w):
  j=0
  print('Слово: "'+w[i]+'" - первая буква: "'+w[i][0]+'"')
  i=i+1

Слово: "Без" - первая буква: "Б"
Слово: "труда" - первая буква: "т"
Слово: "не" - первая буква: "н"
Слово: "выловишь" - первая буква: "в"
Слово: "и" - первая буква: "и"
Слово: "рыбку" - первая буква: "р"
Слово: "из" - первая буква: "и"
Слово: "пруда" - первая буква: "п"

Задание 3.
Написать функцию, при обращении к которой пользователь будет получать текущее время. Создать «часы» с помощью такой функции. Вывод должен обновляться каждую секунду.

In [113]:
# функция
def get_time():
 now = datetime.datetime.now()
 return(now)

In [114]:
# пример запуска: часы
i=0
while i<10:
 print(get_time())
 time.sleep(1)
 i=i+1

2023-01-12 19:43:15.023649
2023-01-12 19:43:16.024190
2023-01-12 19:43:17.025112
2023-01-12 19:43:18.026481
2023-01-12 19:43:19.027851
2023-01-12 19:43:20.029303
2023-01-12 19:43:21.030691
2023-01-12 19:43:22.032010
2023-01-12 19:43:23.033350
2023-01-12 19:43:24.034620