In [31]:
import requests
import pandas as pd
import time
import datetime
from google.colab import data_table

In [14]:
url='https://github.com/EvgenyBelov78/DA1/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B8%20Python.xlsx?raw=true'

In [29]:
xl = pd.ExcelFile(url)
df = xl.parse("Продажи")
df_name = xl.parse("Справочник")

In [30]:
df

          Date  ID  Sales
0   2020-01-01   2      4
1   2020-01-01   1     37
2   2020-01-01   1      5
3   2020-02-01   3     30
4   2020-02-01   1     12
..         ...  ..    ...
128 2021-09-01   2     39
129 2021-09-01   1     26
130 2021-09-01   1     35
131 2021-09-01   2     16
132 2021-10-01   4     40

[133 rows x 3 columns]

In [33]:
df=pd.merge(df,df_name)

In [34]:
data_table.DataTable.max_columns = 110
data_table.DataTable(df, include_index=False, num_rows_per_page=200)

In [28]:
df

          Date  ID  Sales name  Name
0   2020-01-01   2      4       Петя
1   2020-03-01   2     30       Петя
2   2020-03-01   2     38       Петя
3   2020-04-01   2     33       Петя
4   2020-05-01   2     18       Петя
..         ...  ..    ...  ...   ...
128 2021-06-01   4      4       Даша
129 2021-06-01   4     28       Даша
130 2021-07-01   4     27       Даша
131 2021-08-01   4     32       Даша
132 2021-10-01   4     40       Даша

[133 rows x 5 columns]

In [2]:
str='Без труда не выловишь и рыбку из пруда'

In [8]:
i=0
print(str[i])
i=i+1
while i<len(str):
  if str[i]==' ':
    print(str[i+1])
  i=i+1

Б
т
н
в
и
р
и
п

In [9]:
w=str.split()
print (w)

['Без', 'труда', 'не', 'выловишь', 'и', 'рыбку', 'из', 'пруда']

In [ ]:
def get_time():
 now = datetime.datetime.now()
 return(now)

In [ ]:
i=0
while i<10:
 print(get_time())
 time.sleep(1)
 i=i+1

2023-01-12 08:33:21.224881
2023-01-12 08:33:22.228244
2023-01-12 08:33:23.230228
2023-01-12 08:33:24.231558
2023-01-12 08:33:25.232855
2023-01-12 08:33:26.234119
2023-01-12 08:33:27.235406
2023-01-12 08:33:28.236693
2023-01-12 08:33:29.238039
2023-01-12 08:33:30.239345