<a href="https://colab.research.google.com/github/EvgenyBelov78/DA1/blob/main/VDCom_Train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [262]:
import pandas as pd
import psycopg2
import warnings
warnings.filterwarnings('ignore')

In [260]:
DB_HOST = '178.170.196.15'
DB_USER = 'student4'
DB_USER_PASSWORD = 'student4_password'
DB_NAME = 'sql_ex_for_student4'
conn=psycopg2.connect(host=DB_HOST,user=DB_USER,password=DB_USER_PASSWORD,dbname=DB_NAME)

In [264]:
request = """
select * from train order by vag
"""
df = pd.read_sql_query(request, conn)

In [265]:
df.head()

   prevv  vag  nextv  light
0    100    1      2      1
1      1    2      3      0
2      2    3      4      1
3      3    4      5      1
4      4    5      6      1

In [266]:
eoftrain=False
n=0
j=1
i=1;
df.loc[df.vag==i,'light']=1; #включили свет в первом вагоне
while eoftrain==False :
  if (df[df.vag==i]['light'].item()==1)&(j==1):
    i=i+1;
    j=0;
  if (df[df.vag==i]['light'].item()==0)&(j!=1):
    i=df.loc[df.vag==i,'nextv'].item(); #если свет выключен - идем дальше
    j=0;
    n=df[df.vag==i]['prevv'].item();
    #print ('выключен  '+str(i));
  if (df[df.vag==i]['light'].item()==1)&(j!=1):
    #print ('включен  '+str(i));
    df.loc[df.vag==i,'light']=0; #если свет включен - выключаем
    n=df[df.vag==i]['prevv'].item(); #запоминаем, сколько прошли
    j=0;
    while i!=1: #идем обратно
     i=df.loc[df.vag==i,'prevv'].item();
     j=1;
    if (df[df.vag==i]['light'].item()==0): eoftrain=True; #если свет выключен, 
print('Всего вагонов:'+str(n));

Всего вагонов:100